<p id="notice"><%= notice %></p>

<p>
  <strong>Contend:</strong>
  <%= @mini_post.contend %>
</p>

<p>
  <strong>User:</strong>
  <%= @mini_post.user_id %>
</p>

<%= link_to 'Edit', edit_mini_post_path(@mini_post) %> |
<%= link_to 'Back', mini_posts_path %>
